@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);
* {
    padding: 0;
    margin: 0;
}
body {
    padding: 50px;
    font-family: 'Source Sans Pro';
    font-weight: 700;
}
@import 'partials/horizontal';
@import 'partials/vertical';
@import 'partials/cube';
@import 'partials/diag';
@import 'partials/delay';
@import 'partials/delay-center';
@import 'partials/expand';
@import 'partials/controls';