@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 50px;
    font-family: 'Source Sans Pro';
    font-weight: 700;
}

.cube-button-container {
  width: 150px;
  height: 50px;
  position: relative;
  perspective: 6000px;
}

.cube-button-container .cube {
    width: 100%;
    height: 50px;
    transform-style: preserve-3d;
    transition: transform 0.4s;
    cursor: pointer;
}

.cube-button-container .cube:hover {
    transform: rotateX(90deg);
    transition: transform 0.2s;
}

.cube-button-container .cube figure {
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    transition: transform 0.5s;
}

.cube-button-container .cube .front {
    background-color: #779ECB;
    color: rgba(255, 255, 255, 0.95);
    transform: rotateY(0deg) translateZ(25px);
}

.cube-button-container .cube .bottom {
    background-color: #AEC6CF;
    color: rgba(0, 0, 0, 0.7);;
    transform: rotateX(-90deg) translateZ(25px);
}

.cube-button-container figure p {
    text-align: center;
    line-height: 50px;
}



.vertical-fill-button {
    height: 50px;
    width: 150px;
    border: 2px solid #C23B22;
    line-height: 50px;
    text-align: center;
    perspective: 600px;
    overflow: hidden;
    cursor: pointer;
    color: #C23B22;
    transition: color 0.2s;
}

.vertical-fill-button:hover {
    color: white;
    transition: color 0.2s;
}

.vertical-fill-button .color-fill {
    width: 200%;
    margin-left: -50%;
    height: 50px;
    background-color: #C23B22;
    transform-style: preserve-3d;
    position: relative;
    top: -50px;
    transform: rotateX(90deg);
    z-index: -100;
    transition: transform 0.2s;
}

.vertical-fill-button:hover .color-fill {
    transform: rotateX(0);
    transition: transform 0.2s;
}




.horizontal-fill-button {
    color: #966FD6;
    height: 50px;
    width: 150px;
    border: 2px solid #966FD6;
    line-height: 50px;
    text-align: center;
    perspective: 600px;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.3s;
}

.horizontal-fill-button:hover {
    color: white;
    transition: color 0.3s;
}

.horizontal-fill-button .color-fill {
    width: 100%;
    height: 100px;
    margin-top: -25px;
    background-color: #966FD6;
    transform-style: preserve-3d;
    position: relative;
    top: -50px;
    transform: rotateY(90deg);
    z-index: -100;
    transition: transform 0.3s;
}

.horizontal-fill-button:hover .color-fill {
    transform: rotateY(0);
    transition: transform 0.3s;
}



.diag-fill-button {
    color: #A4F0B7;
    height: 50px;
    width: 150px;
    border: 2px solid #A4F0B7;
    background-color: #A4F0B7;
    line-height: 50px;
    text-align: center;
    perspective: 600px;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.3s;
}

.diag-fill-button:hover {
    color: white;
    transition: color 0.3s;
}

.diag-fill-button .color-fill {
    width: 140%;
    margin-left: -30%;
    height: 100px;
    margin-top: -10px;
    background-color: white;
    transform-style: preserve-3d;
    position: relative;
    top: -50px;
    transform: rotateZ(-45deg);
    z-index: -100;
    transition: transform 0.2s ease-in;
}

.diag-fill-button:hover .color-fill {
    transform: rotateZ(-45deg) rotateX(90deg);
    transition: transform 0.2s;
}




.delay-button {
    height: 50px;
    width: 150px;
    color: #A4F0B7;
    border: 2px solid #A4F0B7;
    background-color: white;
    perspective: 600px;
    overflow: hidden;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    transition: color 0.3s line-height 0.3s;
}

.delay-button .orig {
    height: 50px;
    width: 100%;
    transition: 0.3s;
}

.delay-button .delayed {
    text-align: left;
    padding-left: 5%;
    margin-top: -5px;
    font-weight: 200;
}

.delay-button:hover .orig {
    height: 25px;
    margin-left: -30%;
    margin-top: -10px;
    transition: 0.3s;
}





.delay-center-button {
    height: 50px;
    width: 150px;
    color: #A4F0B7;
    border: 2px solid #A4F0B7;
    background-color: white;
    perspective: 600px;
    overflow: hidden;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}

.delay-center-button .orig {

    transition: 0.2s;
}

.delay-center-button .delayed {

    font-weight: 200;
    transition: 0.3s;
}

.delay-center-button:hover .orig {
    margin-top: -10px;
    transition: 0.2s;
}

.delay-center-button:hover .delayed {
    margin-top: -30px;
    transition: 0.3s ease-out;
}