.vertical-fill-button {
    height: 50px;
    width: 150px;
    border: 2px solid #C23B22;
    line-height: 50px;
    text-align: center;
    perspective: 600px;
    overflow: hidden;
    cursor: pointer;
    color: #C23B22;
    transition: color 0.2s;
    
    &:hover {
        color: white;
        transition: color 0.2s;
    }

    .color-fill {
        width: 200%;
        margin-left: -50%;
        height: 50px;
        background-color: #C23B22;
        transform-style: preserve-3d;
        position: relative;
        top: -50px;
        transform: rotateX(90deg);
        z-index: -100;
        transition: transform 0.2s;
    }

    &:hover .color-fill {
        transform: rotateX(0);
        transition: transform 0.2s;
    }
}